*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #F8F8FF; */
   
}
body{
    background-color: #F8F8FF;
     font-family: Arial, Helvetica, sans-serif;
}
.banner{
    height: 50vh;
    background: url(../img/banner.jpg)center/cover;
    display: flex;
     align-items: center;
     justify-content: center;    
     
}

.Intro{

    text-align: center;
    color: rgb(255, 255, 255);
    
}
.information{
    display: flex;
    justify-content: center;
    gap:10%;
}
.inform-detail{
    display: flex;
    gap:20%;
}
.form-personal{
    
    background-color: #FFFFFF;
    width: 60%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 10px 50px;
}
.if-1 input{
border: none;
background-color: #f3f1f1;
border-radius: 9px;
height: 30%;
width: 30vh;
}
.if-1 p{
    font-weight: 700;
   /* margin-bottom: 20px; */
}
.if-1 select{
border: none;
background-color: #f3f1f1;
border-radius: 9px;
height: 30%;
width: 30vh; 
}
textarea{
border: none;
background-color: #f3f1f1;
border-radius: 9px;
height: 15vh;
width: 81vh; 
}
form{
    line-height: 2.0;
}
.information{
    margin-top:3%;
}
.button-send{
    border: none;
    background-color: #006400;
    color: #ffff;
    border-radius: 25px;
    width: 15%;
    height: 50px;
    font-size: 15px;
    margin-top: 20px;
}
